.article-body {
	border: 3px solid darkgray;
	padding-left: 20px;
	margin-top: 15px;
	padding-bottom: 20px;
}

.main{
	margin: 0 auto;
	margin-top: 30px;
}

.shades-input {
	width: 30%!important;
	margin-bottom: 40px;
	margin-left: 36%;

}

.shades-title {
	text-align: center;
}

.shades-counter {
	  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -25px;
  font-size: 32px;
  color: #FFF;
}