.main{
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
}

.shades-input {
	width: 30%!important;
	margin: 0 auto;
}

.shades-input:hover {
	cursor: pointer;
}

.shades-title {
	text-align: center;
	font-size: 3em;
  	margin-bottom: 30px;
  	font-family: 'Helvetica';
}

.shades-box{
	padding-top: 65px;
}

.shades-counter {
  text-align: center;
  font-family: 'Helvetica';
  position: relative;
  top: 45%;
  font-size: 32px;
  color: #FFF;
}