.main{
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
}

.shades-input {
	width: 30%!important;
	margin: 0 auto;
}

.shades-title {
	text-align: center;
}

.shades-box{
	padding-top: 65px;
}

.shades-counter {
  text-align: center;
  position: relative;
  top: 45%;
  font-size: 32px;
  color: #FFF;
}